/* Jose Santiago Campa Morales (jscm1607 / 23766826)
- September 13th, 2024
- CSC 337 - Web Programming
- Project #1
- Part 1 - A Basic Topical Wiki
- style.css: This page is the simple stylesheet for Part 1. */

body {
    background-color: lightgray;
    padding-left: 200px;
    padding-right: 200px;
}

h1 {
    text-align: center;
    font-family: Georgia;
}

img {
    display: block;
    border: 3px solid black;
    margin-bottom: 20px;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

p {
    text-align: justify;
    font-family: Georgia;
    margin: 10px;
    font-weight: 100;
}

li {
    text-align: justify;
    font-family: Georgia;
    margin: 5px;
    font-weight: 100;
}

a {
    color: #0000EE;
}

.album {
    font-weight: 1000;
    margin-top: 5px;
    padding-top: 15px;
}

h2 {
    font-weight: 1000;
    margin-top: 5px;
    padding-top: 10px;
    text-align: center;
}

.concert {
    width: 125px;
    height: 125px;
}

.queen_post {
    width: 285px;
    height: 200px;
}

.borhap {
    width: 150px;
    height: 220px;
}